*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body{
	height: 100%;
	width: 100%;
	font-family: "Abel", san-serif;
	font-size: 1.5vw;
	background: black;
	overflow: hidden;
}

header{
	height: 100vh;
	position: relative;
	display: flex;
}


.cover {
	height: 100vh;
	position: absolute;
	width: 100vw;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: 5% 0%;
	z-index: 0;
}

.cover-date{
	position: absolute;
	right: 10%;
	bottom: 10%;
	opacity: 0.5;
	color: #2673B0;
}

.nav-links{
	justify-content: space-around;
	display: flex;
	width: 70%;
	cursor: pointer;
}

nav{
	border-radius: 0px 2vw 2vw;	
	background-color: rgba(0, 15, 50, .35);
	opacity:0.7;
	z-index: 2;
	min-width: 150px;
	width: 60vw;
	height: 8vh;
	backdrop-filter: blur(5px);
	box-shadow: inset 0 0 0.2rem 0 rgba(0, 0, 0, .7);
	color: white;
}

.nav-closed {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 8vh;
	width: 60vw;
	min-width: 150px;
	position: absolute;
	pointer-events: auto;
	z-index: 2;
}

h2{
	display: inherit;
	font-size: 3vw;
}

.nav-open{
	position: absolute;
	width: 60vw;
	min-width: 150px;
	height: 70vh;
	top: 1%;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	pointer-events: none;
	z-index: 1;
}

.navigation{
	width: 100%;
	height: 90%;
	pointer-events: inherit;
	z-index: 2;
	font-size: 2.4vmin;
}

.nav-button{
		cursor: pointer;
}

.container{
	padding: 10px;
	position: absolute;
	width: 60vw;
	min-width: 150px;
	height: 100%;
	top: 15%;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	pointer-events: none; 
	z-index: 2;
	font-size: 2vmin;	
}

.table-patents{
	padding: 5px;
	width: 100%;
	top:5%;
	display: inline-block;
}

.table-vector{
	padding: 5px;
	width: 100%;
	top:5%;
	display: inline-block;
	align-items: center;
}

.my-td{
	padding: 2px;
	text-align: left;
	font-weight: bolder;
}

.about{
	z-index: 2;
	background-color: rgba(0, 15, 50, .25);
	border-radius: 2vw 2vw;	
	opacity: 0.7;
	position: absolute;
	width: 50%;
	min-width: 150px;
	height: 0%;
	top: 15vh;
	left: 25%;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	pointer-events: none;
	font-size: 2.4vmin;
	color: white;
	box-shadow: inset 0 0 0.2rem 0 rgba(0, 0, 0, .7);
	backdrop-filter: blur(5px);
}

.about-me{
	z-index: 2;
	background-color: rgba(0, 15, 50, .25);
	border-radius: 2vw 2vw;	
	opacity: 0.7;
	position: absolute;
	width: 50vw;
	min-width: 150px;
	height: 0%;
	top: 15vh;
	left: 25vw;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	pointer-events: none;
	font-size: 2.2vmin;
	box-shadow: inset 0 0 0.2rem 0 rgba(0, 0, 0, .7);
	backdrop-filter: blur(5px);
	color: white;
}

.about-p{
	display: inherit;
	width: 70%
	justify-content: space-around;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	text-align: justify;
	line-height: 2.3vh;
}

.contact{
	z-index: 3;
	background-color: rgba(0, 15, 50, .35);
	display: none;
	border-radius: 2vw 2vw;	
	opacity: 0.7;	
	width: 50%;
	min-width: 150px;
	top: 20%;
	left: 25%;
	height: 0%;
	justify-content: space-around;
	align-items: center;
	pointer-events: none;
	/*	display: flex;
	flex-direction: column;*/
	position: fixed;	
	font-size: 2vh;
	color: #2673B0;
	padding: 2%;
	box-shadow: inset 0 0 0.2rem 0 rgba(0, 0, 0, .3);
	backdrop-filter: blur(5px);
	color: white;
}

.contact h2{
	display: inherit;
	font-size: 4vh;
}

input[type=text], select {
	display: inherit;
	background-color: inherit; 
	width: 100%;
	padding: 2% 3%;
	margin: 3px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	color: white;
	outline-color: white;
}

input[type=email], select {
  	display: inherit;
  	background-color: inherit;
  	width: 100%;
  	padding: 2% 3%;
  	margin: 3px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
  	color: white;
	outline-color: white;
}

.textarea {
  	display: inherit;
   	background-color: inherit;
  	width: 100%;
  	height: 10vh;
  	padding: 2% 3%;
  	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
   	color: white;
	outline-color: white;
}

input[type=submit] {
  	display: inherit;
  	width: 100%;
  	background-color: rgba(50, 80, 150, .55);
  	color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
}

input[type=submit]:hover {
  	display: inherit;
  	background-color: rgba(50, 80, 150, .75);
}

.txt-forma{
	display: inherit;
	width: 70%
	justify-content: space-around;
	color: white;
	text-align: justify;	
}

.forma{
	opacity: 1;
}

.iFrame{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
	border: none;
}

.nav-closed ul{
	display: flex;
	width: 70%
	justify-content: space-around;
	list-style: none;
	font-size: 2vw;
}

.menu{
	width: 25%; 
	padding-top: 30px;
}

.programming{
	display: flex;
	padding-top: 10px;
	justify-content: space-around;
	align-items: left;
	width: 100%;
	color: white;
	padding: 10px;	
}

.programming h2{
	font-size: 2vw;
}

.programming ul{
	list-style: none;
	align-items: left;
}

.programming ul li{
	padding-bottom: 10px;
	align-items: left;	
}

.programming ul li a{
	text-decoration: none;
	color: white;	
}

.embedded-img{
	display: flex;
	justify-content: space-around;
	width: 50vmin;
	opacity: 1;
}
